<template name="postSubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="url">URL</label>
			<div class="control">
				<input type="text" name="url" value="" placeholder="Your url"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="control">
				<input type="text" name="title" value="" placeholder="Name yout post">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="message">Message</label>
			<div class="control">
				<textarea type="text" name="message" value=""></textarea> 
			</div>
		</div>
		<div class="control-group">
			<div class="control">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</template>